@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #01012e;
    color: aliceblue;
}
::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  